<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="/js/pizza.js" defer></script>
<title>pizza</title>
</head>
<body>
	<h1>Les Pizzas De Jean-Philippe</h1>
	<div id="app">
		<div class="pizza-list">
			<div v-for="pizza in pizzas">
				<div>{{pizza.libelle}}</div>
				<div>
					Nombre d'ingredients :
					{{ pizza.ingredients ? pizza.ingredients.length : 0 }}
				 </div>
			</div>
			<div>
				<button v-on:click="create = true; newPizza= {}">
					Ajouter une nouvelle pizza
				</button>
			</div>
		</div>
		<div class="pizza-form" v-if="create">
			<div>
				Nom de la pizza<br>
				<input v-model="newPizza.libelle">
			</div>
			<div>
				Ingredients : 
				<span v-if="newPizza.ingredients" v-for="ingredient in newPizza.ingredients">
				{{ ingredient.libelle }}
				</span><br>
				<select v-model="newIngredient" v-on:change="addIngredient()">
					<option></option>
					<option v-for="ingredient in ingredients" v-bind:value="ingredient">
						{{ ingredient.libelle }}
					</option>
				</select>
			</div>
			<div>
				<button v-on:click="createPizza()">Créer la pizza</button>
			</div>
		</div>
	</div>
</body>
</html>