<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Panier</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/panier.js" defer></script>
</head>
<body>
<div id="app">
    <div class="pizza-list">
        <div class="pizza-item" v-for="pizza in pizzas">
            {{pizza.libelle}}<br>
            Nombre d'ingredients : {{pizza.ingredients.length : 0}}<br>
            <span v-for=""></span>
            <button v-on:click="supprimerPizza(pizza)">Supprimer</button>
        </div>
    </div>
</div>
</body>
</html>